# Options +FollowSymLinks
# IndexIgnore */*
# RewriteEngine on
 
# Если запрос не начинается с web, добавляем его
# RewriteCond %{REQUEST_URI} !^/(web)
# RewriteRule (.*) /web/$1
 
# Если файл или каталог не существует, идём к /web/index.php 
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule . /web/index.php

Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

RewriteCond %{REQUEST_URI} !^/(web)
RewriteRule ^assets/(.*)$ basic/web/assets/$1 [L]
RewriteRule ^css/(.*)$ basic/web/css/$1 [L]
RewriteRule ^js/(.*)$ basic/web/js/$1 [L]
RewriteRule ^images/(.*)$ basic/web/images/$1 [L]
RewriteRule (.*) basic/web/$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . basic/web/index.php